@model QuanLyBanDienThoai.ModelViews.MuaHangVM
@{
    ViewData["Title"] = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<QuanLyBanDienThoai.ModelViews.CartItem> Carts = ViewBag.GioHang;
}
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Product Related</h2>
                        <ul>
                            <li>
                                <a href="/">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <form asp-controller="Checkout" asp-action="Index" method="post">
                        <input hidden asp-for="CustomerId"/>
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Họ tên</label>
                                        <input asp-for="FullName" placeholder="Họ và Tên" type="text" />
                                    </div>
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                      <label>Phone</label>
                                        <input asp-for="Phone" placeholder="Phone" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ nhận hàng</label>
                                        <input asp-for="Address" placeholder="Địa chỉ" type="text" />
                                    </div>
                                </div>
                               @* <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Tỉnh Thành <span class="required">*</span></label>
                                        <select asp-for="TinhThanh" class="myniceselectt wide" asp-items="ViewBag.lsTinhThanh">
                                            <option value="0" disabled selected>Chọn Tỉnh Thành</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Quận Huyện <span class="required">*</span></label>
                                        <select asp-for="QuanHuyen" class="myniceselect wide">
                                            <option value="0" disabled selected>Chọn Quận Huyện</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="country-select">
                                        <label>Phường xã <span class="required">*</span></label>
                                        <select asp-for="PhuongXa" class="myniceselect wide">
                                            <option value="0" disabled selected>Chọn Phường Xã</option>
                                        </select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="order-button-payment">
                            <input value="Place order" type="submit">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="cart-product-total">Total</th>
                                    </tr>
                                </thead>
                                    @if (Carts != null && Carts.Count() > 0)
                                {
                                    <tbody>
                                        @foreach (var item in Carts)
                                        {
                                            <tr class="cart_item">
                                                <td class="cart-product-name">
                                                    @item.product.ProductName<strong class="product-quantity">
                                                        × @item.amount
                                                    </strong>
                                                </td>
                                                <td class="cart-product-total"><span class="amount">@item.Total.ToString("#,##0") VNĐ</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">@Carts.Sum(x=>x.Total).ToString("#0,##0") VNĐ</span></strong></td>
                                        </tr>
                                    </tfoot>
                                }
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="#payment-1">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                    Direct Bank Transfer.
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    Make your payment directly into our bank account. Please use your Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared in
                                                    our account.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="#payment-2">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                    Cheque Payment
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    Make your payment directly into our bank account. Please use your Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared in
                                                    our account.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="#payment-3">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                                    PayPal
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    Make your payment directly into our bank account. Please use your Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared in
                                                    our account.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@*@section Scripts{
    <script>
        $(document).ready(function () {
            $('select').niceSelect();
            $('#TinhThanh').change(function () {
                var locationid = $(this).val();
                $.ajax({
                    url: '/Location/QuanHuyenList',
                    type: 'GET',
                    dataType: 'json',
                    data: { locationId: locationid },
                    success: function (QuanHuyens) {
                        $("#QuanHuyen").empty();
                        $("#PhuongXa").empty();
                        var strPhuongXa = '<option value="0" disable selected>--Chọn Phường/Xã--</option>';
                        $("#PhuongXa").append(strPhuongXa);
                        var strQuanHuyen = '<option value="0" disable selected>--Chọn Quận/Huyện--</option>';
                        $("#QuanHuyen").append(strQuanHuyen);
                        $.each(QuanHuyens, function (i, QuanHuyen) {
                            var option = '<option value="' + QuanHuyen.id + '">' + QuanHuyen.name + '</option>';
                            $("#QuanHuyen").append(option);
                        });
                        $('select').niceSelect('update');
                    }
                });
            });
            $('#QuanHuyen').change(function () {
                var locationid = $(this).val();
                $.ajax({
                    url: '/Location/PhuongXaList',
                    type: 'GET',
                    dataType: 'json',
                    data: { locationId: locationid },
                    success: function (PhuongXas) {
                        $("#PhuongXa").empty();
                        var readonly = '<option value="0" disable selected>--Chọn Phường/Xã--</option>';
                        $("#PhuongXa").append(readonly);
                        $.each(PhuongXas, function (i, PhuongXa) {
                            var option = '<option value="' + PhuongXa.id + '">' + PhuongXa.name + '</option>';
                            $("#PhuongXa").append(option);
                        });
                        $('select').niceSelect('update');
                    }
                });
            });
        });
    </script>

}*@