@model QuanLyBanDienThoai.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cập nhật đơn hàng</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="CustomerId"/>
            <input type="hidden" asp-for="OrderDate" />
            <input type="hidden" asp-for="PaymentDate" />
            <input type="hidden" asp-for="TotalMoney" />
            <input type="hidden" asp-for="LocationId" />
            <input type="hidden" asp-for="PaymentId" />
            <div class="form-group">
                <label asp-for="ShipDate" class="control-label"></label>
                <input asp-for="ShipDate" class="form-control" />
                <span asp-validation-for="ShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactStatusId" class="control-label"></label>
                <select asp-for="TransactStatusId" class="form-control" asp-items="ViewBag.TrangThai"></select>
                <span asp-validation-for="TransactStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="Deleted">
                    <option value="True">Chưa huỷ</option>
                    <option value="False">Đã huỷ</option>
                </select>
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="Paid">
                    <option value="True">Chưa thanh toán</option>
                    <option value="False">Đã Thanh Toán</option>
                </select>
                <span asp-validation-for="Paid" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ward" class="control-label"></label>
                <input asp-for="Ward" class="form-control" />
                <span asp-validation-for="Ward" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

